@tailwind base;
@tailwind utilities;
@tailwind components;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(63 63 70 / 50%);
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(113 113 122 / 80%);
}